@{ ViewData["Title"] = "ZooLine"; }
<link href="~/css/estilo.css" rel="stylesheet" />
<body>

    <div class="text-center">
        <h1 class="display-4">Bienvenido a ZooLine</h1>
        <p>Por tu bienestar #QuedateEnCasa</>.</p>
        <img src="~/img/wild-animals-at-the-zoo-vector.jpg" alt="Alternate Text" />

    </div>
</body>
